html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}


  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    opacity: 1;
    transition-duration: 1s;
    transition-property: opacity;
    transition: ease-out; /* Transistionen funkade inte alls kom ihåg det*/
  }
 #overlay, #myvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
 }

  #overlay div{
    position: fixed;
    top: 25%;
    text-align: center;
    color: #f1f1f1;
    width: 25%;
    padding: 20px;
    left: 36%;
    right: auto;

  }

  #overlay h1{
    text-shadow: 3px 6px black;
    font-family: 'Bebas Neue', cursive;
    color: orange;
    font-size: 9em;
    margin: 0%;
    align-self: center;
    justify-self: center;
    font-weight: 400;
  }

  #overlay h2{
    text-shadow: 0.04em 0.08em black;
    font-family: 'Bebas Neue', cursive;
    color: #1082d0;
    font-size: 2em;
    margin: 0%;
    align-self: center;
    justify-self: center;
    font-weight: 400;
  }

  #overlay button{
    cursor: pointer; 
    background-color: #1082d0 ;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em; 
    font-family: 'Bebas Neue', cursive; 
    margin:1em;
    text-shadow: 0.04em 0.08em black;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em #999;
  }

  #overlay button:hover {background-color: #0b6eaf;
        transform: translateY(0.2em);
        transform: translateX(0.2em);
        box-shadow: 0 0;
      }

    body {
         background-color:#0c0c0cef;
         margin: 0;
         max-width: 100%;
     }
     .mobile{
       display: none;
     }
     
     .gridwrapper {
       display: grid;
       grid-template-areas: 
       "he"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "fo"
 
       ;
       grid-template-columns: 100vw;
       grid-template-rows: repeat(21, 40vh);
       grid-gap: 1vh;
       margin: 0;
       animation: fadein 3s
     }
 
     header{
       background: linear-gradient( -45deg,#1082d0,#239ef0,#df8124, #b86511);
       background-size: 150%;
       animation: change 8s ease-in-out infinite;
       margin: 15px;
       display: flex;
       z-index:2;
       grid-area: he ;
       min-height: 16vh;
       }
 
     @keyframes change {
       0%{background-position:0% 50%}
       50%{background-position:100% 50%}
       100%{background-position:0% 50%}
     }
 
     #logo{
       flex: 1;
       font-family: 'Bebas Neue', cursive;
       font-size: 5em;
       margin-left: 0.5em;
       margin-top: 0;
       align-self: flex-start;
      
    
     }
 
     header #name {
       flex: 2; 
       display: flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
     
       
     }
 
     #name h2{
       text-shadow: 3px 6px black;
       font-family: 'Bebas Neue', cursive;
       color: orange;
       font-size: 9em;
       margin: 0%;
       align-self: center;
       justify-self: center;
       font-weight: 400;
       ;
      
     }
 
     #name p{
       align-self: center;
       margin: 0.2em;
       background-color: orange;
       font-family:'IBM Plex Mono';
       font-weight: 100;
       padding: 0px 2px;
       font-size: 0.8em;
       
     }
 
     .desktop {
       flex: 1;
       margin: 1em 2em;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
     }
 
     .desktop a{
       font-family: 'Bebas Neue', cursive; 
       font-size: 1.3em;
       text-decoration: none;
       color:black;
       letter-spacing: 2px;
       padding: 0 0.5em;
       
     }
 
      .visited:visited {
       color:rgb(255, 166, 0);
       text-shadow: 5px 1px black;
     }
 
 
   #photographs {
     grid-area: ph;
   }
 
    section {
      grid-area: ph ;
    }
    
    #photograph {
      width: 15vw;
      width: min-content;
    }

    #videos_text {
      width: 8vw;
      width: min-content;
    }

    #creative_text {
      width: 11vw;
      width: min-content;
    }

    #contact {
      width: 10vw;
      width: min-content;
    }

    .rubrik {
     font-family: 'IBM Plex Mono';
     margin:  0 0.49em ;
     font-size: 2em;
     font-weight: 100;
     letter-spacing: 2px;
     padding: 0em 0.2em;
     color: rgb(0, 0, 0);
     background-color: #dd7914;
     width: min-content;
   }

  
 
 
   .grid_flex {
     padding: 1em;
     column-count: 4;
     }
     
     img{
       width: 100%;
       margin-bottom: 1em;
     }
 
     .grid_flex_v {
       padding: 1em;
       column-count:1;
       
       }
       .grid_flex_v_2 {
        display: flex; 
        justify-content: space-evenly;
         }
 
   .video {
     width: 100%;
     margin-bottom: 1em;
     z-index: 2;
   }
 
   .video_mobile {
     width: 40%;
     margin-bottom: 1em;
     z-index: 2;
     padding: 5vh;  
    
   }
 
   footer {
     grid-area: fo;
     display: flex;
     justify-content: center;
     z-index: 2;
   }
 
   footer p { 
     font-family: 'IBM Plex Mono';
     margin:  0.49em ;
     padding: 0em 0.2em;
     color: #dd7914;
     width: fit-content;
   }
 
     #insta{
     width: 10vh;
     align-self: flex-end;
     height: auto;
    }
 
   #gridwrapper2 {
     background-color:  #b86511;
     grid-gap: 0;
     margin: 0;
   }
 
   #header2{
     margin: 15px 15px 0px 15px;
     height: 40vh;
     
   }
 
   .fade_in {
     animation: fadein 1s;
     grid-area: ph;
   }
 
   @keyframes fadein {
     from {
       opacity: 0;
     }
     to {
       opacity: 1;
     }
   }
 
   article {
     background-color: rgb(231, 231, 231);
     margin: 0 15px 15px 15px;
     height: 60em;
     z-index: 1;
     opacity: 100%;  
     display: flex;  
     justify-self: center;
     align-self: center;
     justify-items: center;
     flex-direction: column;
     
   }
 
   article h2{
   font-family: 'Bebas Neue', cursive;
   color: orange;
   font-size: 3em;
   margin: 0%;
   text-align: center;
   font-weight: 400;
   padding: 0.5em 0 0;
 }
 
 article img {
   width: 20vw;
   align-self: center;
 } 
 
 article h3 {
 
   align-self: center;
   margin: 0.1em;
   font-family:'IBM Plex Mono';
   font-weight: 5000;
   font-size: 1.5em;
 }
 
 article p {
   padding: 5vh 32vw 0;
   align-self: center;
   margin: 0.2em;
   padding-left: 33vw;
   font-family:'IBM Plex Mono';
   font-weight: 100;
   font-size: 1em;
 }

 @media screen and (max-width: 992px) {
  body {
       margin: 0;
       max-width: 100%;
  }

  .gridwrapper {
    grid-template-rows: repeat(20, 30vh);
  }
  

  header {
    min-height: 13vh;
  }

  #logo{
    font-size: 4em;
    margin-left: 0.25em;
    margin-top: 0;
    flex: 1.5;
  }


  #name h2{
    text-shadow: 3px 6px black;
    font-size: 7em;
    ;
   
  }

  #name p{
    font-size: 0.5em;
    
  }

  .desktop {
    margin: 1em 1em;
    flex: 1.5;
    letter-spacing: 1em;
  }

  .desktop a{
    font-size: 1em;
    padding: 0 0.1em;
    
  }

  .grid_flex {
    column-count: 3 ;
    }

   .video_mobile {
    margin: 1em 1em;
  }
  

}

 
 @media screen and (max-width: 768px) {


#overlay {
  display: none;
}

.desktop {
  display: none;
}

.mobile {
  display: contents;
}

  .gridwrapper {
    grid-template-areas: 
       "he"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "ph"
       "fo"
 
       ;
    grid-template-rows: repeat(31, 28vh);
  }

  header{
    margin: 1em;
    z-index:2;
    min-height: 6vh;
    }


  #logo{
    font-size: 3em;
    margin-left: 0.25em;
    margin-top: 0;
    flex: 1;
  }


  #name h2{
    text-shadow: 3px 6px black;
    font-size: 5em;
    ;
   
  }

  #name p{
    margin: 0.2em;
    padding: 0px 2px;
    font-size: 0.6em;
    
  }
 
  .nav_mobile {
    flex: 1;
  }

  .openbtn {
    flex: 1;
    background-color:rgba(0, 0, 0, 0);
    font-size:  2.5em;
    cursor: pointer;
    color: black;
    border: none;
    margin-right: 0.25em;
    text-align: right;
    padding:0;
    align-self: flex-start;
}

.sidepanel {
  height: 100vh; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color:#dd7914 ; 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}
  
  /* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: 'Bebas Neue', cursive;
  }

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 4em;
  margin-left: 10vw;
}

.rubrik {
  font-size: 1.5em;
}
  .grid_flex {
    column-count: 1;
    }

    .grid_flex_v_2{
      display: block;
     }

    .video_mobile {
      width: 100%;
      margin: 1em 0;
    }
    
#header2 {
  height: 30vh;
}

article {
  height: 38em;
  min-height: 40em;
    }
  
  article h2{
  font-size: 2em;
  }
  
  article img {
    width: 45vw;
  } 
  
  article h3 {
    font-size: 1em;
  }
  
  article p {
    margin: 0.2em;
    font-size: 0.8em;
    padding:5vw
  }
 

 }


  